* {
  box-sizing: border-box;
  font-family: arial;

}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.body-flex-row{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.main-flex-column{

  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  text-align:center;
}

.content-flex-row {
  flex:1;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  text-align:center;

}
.content-sidebar {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2px;
  width: 20%;
}

.sidebar-decklist{

}

.content{
  border: 1px black solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-gap: 5px;
  padding: 5px 25px;
  width: 80%;
}

.flashcard {
  grid-area: 1 / 1 / 2 / 4;
  background-color: lightyellow;
  box-shadow: 1px 2px 25px;
  padding: 2px;
  border-radius: 15px;
}

.flashcard-dont-know {

}

.flashcard-flip {
  border-radius: 10px;
  color: lightblue;
  box-shadow: 1px 2px 25px;
  grid-area: 2 / 1 / 3 / 4;
  cursor: pointer;
  font-size: 36px;
}

.flashcard-know {

}



.sidenav-flex-column {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align:center;
  background-color: lightgreen;

}


header {
  padding:5px;
  background-color: lightblue;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px black solid;
}

main {
  background-color: white;
}

footer {
  background-color: lightpink;
}
