sidenav {
  width: 40%;
  padding: 15px;
  transition: all 0.5s ease;
  position: relative;
  z-index: 1;
  text-align: center;
  overflow: scroll;
  border-left: 1px solid black;
}

.hide {
  padding: 0;
width: 0px;
margin:0;
border: none;
transition: all 0.5s ease;
overflow-x: hidden;
}
