.sidenav {
  width: 40%;
  transition: all 0.5s ease;
  position: relative;
  z-index: 1;
  text-align: center;
  overflow: scroll;
}

.sidenav-hide {
  padding: 0;
  width: 0px;
  margin:0;
  border: none;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

.menu-icon {

}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 20px;
}

.menu-icon:hover{
  transform: scale(1.5);
  transition: all 0.1s ease;
}
